@eniolayo:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# Security
auto-install-peers=false
resolution-mode=highest

# Script control is in package.json pnpm.onlyBuiltDependencies
